In [1]:
import pandas as pd

In [2]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [3]:
purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [4]:
purchases = pd.DataFrame(data, index=['Juana', 'Roberto', 'Liliana', 'David'])
purchases

         apples  oranges
Juana         3        0
Roberto       2        3
Liliana       0        7
David         1        2

In [6]:
purchases.loc['Juana']

apples     3
oranges    0
Name: Juana, dtype: int64

In [1]:
####################################################

In [27]:
test_str = "abbbbba"

In [28]:
print("The original string is : " + str(test_str))

The original string is : abbbbba

In [29]:
import string

In [30]:
#res = test_str.replace('a', '%temp%').replace('b', 'a').replace('%temp%', 'b')
res = test_str.translate(string.maketrans("ab", "ba"))

In [31]:
print("The string after replacement of positions : " + res)

The string after replacement of positions : baaaaab

In [32]:
############################

In [42]:
x = "20"
y = "56"
x = float(x)
y = float(y)
z = x + y
w = "2e5"
w = float(w)
print(z,w)

(76.0, 200000.0)