In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("\Users\Usuario\Jhordan\ListaCompanias.csv")
df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,PIH,"1347 Property Insurance Holdings, Inc.",7.150,$42.79M,2014.0,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pih,NaN
1,PIHPP,"1347 Property Insurance Holdings, Inc.",25.651,NaN,NaN,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pihpp,NaN
2,TURN,180 Degree Capital Corp.,2.300,$71.58M,NaN,Finance,Finance/Investors Services,https://www.nasdaq.com/symbol/turn,NaN
3,FLWS,"1-800 FLOWERS.COM, Inc.",14.450,$933.53M,1999.0,Consumer Services,Other Specialty Stores,https://www.nasdaq.com/symbol/flws,NaN
4,FCCY,1st Constitution Bancorp (NJ),22.550,$188.95M,NaN,Finance,Savings Institutions,https://www.nasdaq.com/symbol/fccy,NaN

In [3]:
df.tail()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
6862,ZUMZ,Zumiez Inc.,23.350,$594.72M,2005.0,Consumer Services,Clothing/Shoe/Accessory Stores,https://www.nasdaq.com/symbol/zumz,NaN
6863,ZUO,"Zuora, Inc.",25.830,$2.78B,2018.0,Technology,Computer Software: Prepackaged Software,https://www.nasdaq.com/symbol/zuo,NaN
6864,ZYME,Zymeworks Inc.,13.390,$427.82M,2017.0,Health Care,Major Pharmaceuticals,https://www.nasdaq.com/symbol/zyme,NaN
6865,ZYNE,"Zynerba Pharmaceuticals, Inc.",5.730,$77.71M,2015.0,Health Care,Major Pharmaceuticals,https://www.nasdaq.com/symbol/zyne,NaN
6866,ZNGA,Zynga Inc.,4.055,$3.48B,2011.0,Technology,EDP Services,https://www.nasdaq.com/symbol/znga,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6867 entries, 0 to 6866
Data columns (total 9 columns):
Symbol           6867 non-null object
Name             6867 non-null object
LastSale         6746 non-null float64
MarketCap        5778 non-null object
IPOyear          3056 non-null float64
Sector           5302 non-null object
industry         5302 non-null object
Summary Quote    6867 non-null object
Unnamed: 8       0 non-null float64
dtypes: float64(3), object(6)
memory usage: 321.9+ KB

In [5]:
df.shape

(6867, 9)

In [6]:
#Agregar al DataFrame el mismo DataFrame (Duplicar)
tdf = df.append(df)
tdf.shape

(13734, 9)

In [7]:
#Eliminar filas duplicadas
tdf = tdf.drop_duplicates()
tdf.shape

(6856, 9)

In [8]:
# (inplace=True) los cambios se asignan al mismo Dataframe
# si no se hace esto se debe asignar los cambios a un DataFrame usando "="
tdf.drop_duplicates(inplace=True)
tdf.shape

(6856, 9)

In [9]:
tdf = df.append(df)
tdf.shape

(13734, 9)

In [10]:
# Eliminar filas duplicadas y originales
tdf.drop_duplicates(inplace=True, keep=False)
# Opciones: keep=first(default), keep=last, keep=False
tdf.shape

(0, 9)

In [11]:
df.columns

Index([u'Symbol', u'Name', u'LastSale', u'MarketCap', u'IPOyear', u'Sector',
       u'industry', u'Summary Quote', u'Unnamed: 8'],
      dtype='object')

In [12]:
# Para renombrar columnas

#movies_df.rename(columns={
#        'Runtime (Minutes)': 'Runtime', 
#        'Revenue (Millions)': 'Revenue_millions'
#    }, inplace=True)
#movies_df.columns

In [13]:
# Otra forma de renombrar

#movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
#                     'rating', 'votes', 'revenue_millions', 'metascore']
#movies_df.columns

In [14]:
# Otra forma de renombrar, para cambiar a minúsculas

#movies_df.columns = [col.lower() for col in movies_df]
#movies_df.columns

In [30]:
# Revisa si tienes datos nulos y crea un DataFrame con valores 
# True (para datos nulos) y False (para no nulos)
df.isnull()
df.isnull().sum()

Symbol              0
Name                0
LastSale          121
MarketCap        1089
IPOyear          3811
Sector           1565
industry         1565
Summary Quote       0
Unnamed: 8       6867
dtype: int64

In [31]:
# Elimina cualquier fila que tenga al menos un valor nulo
#nonull = df.dropna()

In [32]:
# Elimina cualquier columna que tenga al menos un valor nulo
#nonull = df.dropna(axis=1)

In [35]:
# Saca los valores de la columna 'LastSale' como una serie
lastsale = df['LastSale']
lastsale.head()

0     7.150
1    25.651
2     2.300
3    14.450
4    22.550
Name: LastSale, dtype: float64

In [37]:
# Calcula el valor medio de la serie
lastsale_mean = lastsale.mean()
lastsale_mean

37.935779839905074

In [41]:
# Llena los valores nulos de la serie con el valor medio
lastsale.fillna(lastsale_mean, inplace=True)
df.isnull().sum()

Symbol              0
Name                0
LastSale            0
MarketCap        1089
IPOyear          3811
Sector           1565
industry         1565
Summary Quote       0
Unnamed: 8       6867
dtype: int64

In [42]:
df.describe()

          LastSale      IPOyear  Unnamed: 8
count  6867.000000  3056.000000         0.0
mean     37.935780  2008.290903         NaN
std      90.767836     9.243007         NaN
min       0.007000  1972.000000         NaN
25%       9.525000  2002.000000         NaN
50%      22.800000  2012.000000         NaN
75%      39.775000  2016.000000         NaN
max    3580.310000  2018.000000         NaN

In [43]:
df['Sector'].describe()

count        5302
unique         12
top       Finance
freq         1049
Name: Sector, dtype: object

In [44]:
df['Sector'].value_counts()

Finance                  1049
Health Care               858
Consumer Services         829
Technology                628
Capital Goods             371
Basic Industries          316
Energy                    312
Public Utilities          276
Consumer Non-Durables     239
Miscellaneous             154
Consumer Durables         147
Transportation            123
Name: Sector, dtype: int64

In [45]:
# Relación entre cada variable continua
df.corr()

            LastSale   IPOyear  Unnamed: 8
LastSale    1.000000 -0.142222         NaN
IPOyear    -0.142222  1.000000         NaN
Unnamed: 8       NaN       NaN         NaN

In [48]:
# Extrae la columna como una serie
sector = df['Sector']
type(sector)

pandas.core.series.Series

In [49]:
# Extrae la columna como un DataFrame
sector = df[['Sector']]
type(sector)

pandas.core.frame.DataFrame

In [53]:
subset = df[['Sector', 'IPOyear']]
type(subset)

pandas.core.frame.DataFrame

In [54]:
subset.head()

              Sector  IPOyear
0            Finance   2014.0
1            Finance      NaN
2            Finance      NaN
3  Consumer Services   1999.0
4            Finance      NaN