In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("\Users\Usuario\Jhordan\ListaCompanias.csv")
df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,PIH,"1347 Property Insurance Holdings, Inc.",7.150,$42.79M,2014.0,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pih,NaN
1,PIHPP,"1347 Property Insurance Holdings, Inc.",25.651,NaN,NaN,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pihpp,NaN
2,TURN,180 Degree Capital Corp.,2.300,$71.58M,NaN,Finance,Finance/Investors Services,https://www.nasdaq.com/symbol/turn,NaN
3,FLWS,"1-800 FLOWERS.COM, Inc.",14.450,$933.53M,1999.0,Consumer Services,Other Specialty Stores,https://www.nasdaq.com/symbol/flws,NaN
4,FCCY,1st Constitution Bancorp (NJ),22.550,$188.95M,NaN,Finance,Savings Institutions,https://www.nasdaq.com/symbol/fccy,NaN

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
#Agregar al DataFrame el mismo DataFrame (Duplicar)
tdf = df.append(df)
tdf.shape

In [ ]:
#Eliminar filas duplicadas
tdf = tdf.drop_duplicates()
tdf.shape

In [ ]:
# (inplace=True) los cambios se asignan al mismo Dataframe
# si no se hace esto se debe asignar los cambios a un DataFrame usando "="
tdf.drop_duplicates(inplace=True)
tdf.shape

In [ ]:
tdf = df.append(df)
tdf.shape

In [ ]:
# Eliminar filas duplicadas y originales
tdf.drop_duplicates(inplace=True, keep=False)
# Opciones: keep=first(default), keep=last, keep=False
tdf.shape

In [ ]:
df.columns

In [ ]:
# Para renombrar columnas

#movies_df.rename(columns={
#        'Runtime (Minutes)': 'Runtime', 
#        'Revenue (Millions)': 'Revenue_millions'
#    }, inplace=True)
#movies_df.columns

In [ ]:
# Otra forma de renombrar

#movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
#                     'rating', 'votes', 'revenue_millions', 'metascore']
#movies_df.columns

In [ ]:
# Otra forma de renombrar, para cambiar a minúsculas

#movies_df.columns = [col.lower() for col in movies_df]
#movies_df.columns

In [ ]:
# Revisa si tienes datos nulos y crea un DataFrame con valores 
# True (para datos nulos) y False (para no nulos)
df.isnull()
df.isnull().sum()

In [ ]:
# Elimina cualquier fila que tenga al menos un valor nulo
#nonull = df.dropna()

In [ ]:
# Elimina cualquier columna que tenga al menos un valor nulo
#nonull = df.dropna(axis=1)

In [ ]:
# Saca los valores de la columna 'LastSale' como una serie
lastsale = df['LastSale']
lastsale.head()

In [ ]:
# Calcula el valor medio de la serie
lastsale_mean = lastsale.mean()
lastsale_mean

In [ ]:
# Llena los valores nulos de la serie con el valor medio
lastsale.fillna(lastsale_mean, inplace=True)
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
df['Sector'].describe()

In [ ]:
df['Sector'].value_counts()

In [ ]:
# Relación entre cada variable continua
df.corr()

In [ ]:
# Extrae la columna como una serie
sector = df['Sector']
type(sector)

In [ ]:
# Extrae la columna como un DataFrame
sector = df[['Sector']]
type(sector)

In [ ]:
subset = df[['Sector', 'IPOyear']]
type(subset)

In [ ]:
subset.head()

In [5]:
def LastSale_function(x):
    if x >= 15.0:
        return "good"
    else:
        return "bad"

In [8]:
# Crear una nueva columna(serie) a partir de otra(serie) dada una función condicional
df["LastSale_category"] = df["LastSale"].apply(LastSale_function)
df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8,LastSale_category
0,PIH,"1347 Property Insurance Holdings, Inc.",7.150,$42.79M,2014.0,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pih,NaN,bad
1,PIHPP,"1347 Property Insurance Holdings, Inc.",25.651,NaN,NaN,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pihpp,NaN,good
2,TURN,180 Degree Capital Corp.,2.300,$71.58M,NaN,Finance,Finance/Investors Services,https://www.nasdaq.com/symbol/turn,NaN,bad
3,FLWS,"1-800 FLOWERS.COM, Inc.",14.450,$933.53M,1999.0,Consumer Services,Other Specialty Stores,https://www.nasdaq.com/symbol/flws,NaN,bad
4,FCCY,1st Constitution Bancorp (NJ),22.550,$188.95M,NaN,Finance,Savings Institutions,https://www.nasdaq.com/symbol/fccy,NaN,good

In [10]:
# Crear una nueva columna(serie) a partir de otra(serie) dada una condición
df["LastSale_category_2"] = df["LastSale"].apply(lambda x: 'good' if x >= 15.0 else 'bad')
df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8,LastSale_category,LastSale_category_2
0,PIH,"1347 Property Insurance Holdings, Inc.",7.150,$42.79M,2014.0,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pih,NaN,bad,bad
1,PIHPP,"1347 Property Insurance Holdings, Inc.",25.651,NaN,NaN,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pihpp,NaN,good,good
2,TURN,180 Degree Capital Corp.,2.300,$71.58M,NaN,Finance,Finance/Investors Services,https://www.nasdaq.com/symbol/turn,NaN,bad,bad
3,FLWS,"1-800 FLOWERS.COM, Inc.",14.450,$933.53M,1999.0,Consumer Services,Other Specialty Stores,https://www.nasdaq.com/symbol/flws,NaN,bad,bad
4,FCCY,1st Constitution Bancorp (NJ),22.550,$188.95M,NaN,Finance,Savings Institutions,https://www.nasdaq.com/symbol/fccy,NaN,good,good

In [51]:
df['Symbol'].sample(n=10, random_state=1)

2156      EBF
1519    CBSHP
1384      C^C
5202      RRD
444       ARC
3695     KOPN
6280    TWLVU
248      ALPN
1819      DKT
968       BXP
Name: Symbol, dtype: object

In [33]:
df['Symbol'].sample(frac=0.0018, random_state=1)

2156      EBF
1519    CBSHP
1384      C^C
5202      RRD
444       ARC
3695     KOPN
6280    TWLVU
248      ALPN
1819      DKT
968       BXP
6132    TIBRU
1377     CSCO
Name: Symbol, dtype: object

In [40]:
df['Symbol'].sample(frac=0.0018, random_state=1, replace=True)

5157     QADA
235     ALL^E
3980      MMI
5192    QRTEB
905       MFT
2763    GAINO
2895    GEF.B
5056     PXUS
144      AGYS
4225     MPVD
2797     BOTZ
6652    WFC^Q
Name: Symbol, dtype: object

In [43]:
df['Symbol'].sample(frac=0.0018, random_state=5, replace=True)

2915       GVP
2254      MRAM
4079      VIVO
1725    CUBI^F
3046        HF
5520       JBR
2121       EHC
1032      BLMT
740        BKS
1982      EACQ
2459      LMBS
2672       GBL
Name: Symbol, dtype: object

In [48]:
df['Symbol'].sample(n=10)

856       BJZ
6731    WVVIP
2352     LION
6746    WTFCW
2420      FCA
2110     ESRT
4224     MOTS
4213     MORN
1772     DUSA
1992     EAST
Name: Symbol, dtype: object

In [49]:
df.sample(n=10)

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8,LastSale_category,LastSale_category_2
4191,MNR^C,Monmouth Real Estate Investment Corporation,24.37,NaN,NaN,NaN,NaN,https://www.nasdaq.com/symbol/mnr^c,NaN,good,good
6035,TTEK,"Tetra Tech, Inc.",66.10,$3.68B,1991.0,Consumer Services,Military/Government/Technical,https://www.nasdaq.com/symbol/ttek,NaN,good,good
2817,GMLP,Golar LNG Partners LP,16.43,$1.15B,2011.0,Consumer Services,Marine Transportation,https://www.nasdaq.com/symbol/gmlp,NaN,good,good
4977,PAGP,"Plains Group Holdings, L.P.",24.73,$3.88B,2013.0,Energy,Natural Gas Distribution,https://www.nasdaq.com/symbol/pagp,NaN,good,good
5383,RBS^S,Royal Bank Scotland plc (The),25.65,NaN,NaN,NaN,NaN,https://www.nasdaq.com/symbol/rbs^s,NaN,good,good
2200,EQT,EQT Corporation,49.49,$13.07B,NaN,Energy,Oil & Gas Production,https://www.nasdaq.com/symbol/eqt,NaN,good,good
6234,TRN,"Trinity Industries, Inc.",38.21,$5.64B,NaN,Capital Goods,Railroads,https://www.nasdaq.com/symbol/trn,NaN,good,good
3956,MJCO,Majesco,9.00,$329.48M,2015.0,Technology,Computer Software: Prepackaged Software,https://www.nasdaq.com/symbol/mjco,NaN,bad,bad
3588,JNPR,"Juniper Networks, Inc.",26.18,$9.14B,1999.0,Technology,Computer Communications Equipment,https://www.nasdaq.com/symbol/jnpr,NaN,good,good
3965,MANU,Manchester United Ltd.,20.65,$3.39B,2012.0,Consumer Services,Services-Misc. Amusement & Recreation,https://www.nasdaq.com/symbol/manu,NaN,good,good

In [ ]:
# dsssssssssssssssssssssssssssssssssssssssssssssssss

In [73]:
df1 = pd.read_csv("\Users\Usuario\Jhordan\epidural_edit.csv", index_col=0)

In [74]:
df1.head()

,ID,edad,PESONAC,TIPOPAR,OXITOCIN,EPIDURAL,TEMP1,TEMP2,DILATACI,EXPULSIV,APGAR1,APGAR2
1,3,26,3990.0,instrumental,no,si,36.4,38.8,358.400000,44.800000,8,9
2,4,31,2438.0,instrumental,no,no,36.5,37.5,183.518006,22.939751,8,9
3,10,29,2880.0,instrumental,no,no,36.5,35.9,205.095337,25.636917,8,9
4,11,25,4134.0,instrumental,no,no,36.4,36.6,240.731453,30.091432,8,9
5,12,27,2576.0,instrumental,no,no,37.0,36.4,181.751795,22.718974,8,9

In [75]:
epidural = {'si': 1,'no': 0}
df1["EPIDURAL"] = [epidural[item] for item in df1["EPIDURAL"]] 
df1.head()

,ID,edad,PESONAC,TIPOPAR,OXITOCIN,EPIDURAL,TEMP1,TEMP2,DILATACI,EXPULSIV,APGAR1,APGAR2
1,3,26,3990.0,instrumental,no,1,36.4,38.8,358.400000,44.800000,8,9
2,4,31,2438.0,instrumental,no,0,36.5,37.5,183.518006,22.939751,8,9
3,10,29,2880.0,instrumental,no,0,36.5,35.9,205.095337,25.636917,8,9
4,11,25,4134.0,instrumental,no,0,36.4,36.6,240.731453,30.091432,8,9
5,12,27,2576.0,instrumental,no,0,37.0,36.4,181.751795,22.718974,8,9

In [76]:
#########################################

In [77]:
df2 = pd.read_csv("\Users\Usuario\Jhordan\epidural_edit.csv", index_col=0)
df2.head()

,ID,edad,PESONAC,TIPOPAR,OXITOCIN,EPIDURAL,TEMP1,TEMP2,DILATACI,EXPULSIV,APGAR1,APGAR2
1,3,26,3990.0,instrumental,no,si,36.4,38.8,358.400000,44.800000,8,9
2,4,31,2438.0,instrumental,no,no,36.5,37.5,183.518006,22.939751,8,9
3,10,29,2880.0,instrumental,no,no,36.5,35.9,205.095337,25.636917,8,9
4,11,25,4134.0,instrumental,no,no,36.4,36.6,240.731453,30.091432,8,9
5,12,27,2576.0,instrumental,no,no,37.0,36.4,181.751795,22.718974,8,9

In [79]:
df2["EPIDURAL"][df2["EPIDURAL"] == 'si'] = 1
df2["EPIDURAL"][df2["EPIDURAL"] == 'no'] = 0
df2.head()

C:\Users\Usuario\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Usuario\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,edad,PESONAC,TIPOPAR,OXITOCIN,EPIDURAL,TEMP1,TEMP2,DILATACI,EXPULSIV,APGAR1,APGAR2
1,3,26,3990.0,instrumental,no,1,36.4,38.8,358.400000,44.800000,8,9
2,4,31,2438.0,instrumental,no,0,36.5,37.5,183.518006,22.939751,8,9
3,10,29,2880.0,instrumental,no,0,36.5,35.9,205.095337,25.636917,8,9
4,11,25,4134.0,instrumental,no,0,36.4,36.6,240.731453,30.091432,8,9
5,12,27,2576.0,instrumental,no,0,37.0,36.4,181.751795,22.718974,8,9

In [ ]:
# transforma los valores string de la columna a valores numéricos 
# y si no cumplen la condición se transforman a NaN
#df["MarketCap"] = pd.to_numeric(df["MarketCap"], errors='coerce')